body {
  background-color: #e4edf2;
}

@keyframes moveBall1 {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(100px) translateY(50px);
  }
}

@keyframes moveBall2 {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-100px) translateY(-50px);
  }
}

.ball {
  width: 20px;
  height: 20px;
  background-color: #3498db;
  border-radius: 50%;
  position: absolute;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.ball1 {
  animation-name: moveBall1;
}

.ball2 {
  animation-name: moveBall2;
}

.App-container {
  padding-top: 30px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
  width: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.App:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

#word-input {
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 12px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

button:hover {
  background-color: #217dbb;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #ecf0f1;
  padding: 10px;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #d2d7d9;
}

.no-results {
  font-size: 1.2rem;
  color: #e74c3c;
  margin-top: 20px;
}

.show-more-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.show-more-button:hover {
  background-color: #217dbb;
}
